<div id="header">
  <nav id="nav">
    <ul class="nav">
      <li class="nav-item">
        <span class="logo-span">
          Vue.js
        </span>
      </li>
        <li class="nav-item">
        <form action="">
          <input type="text" id="search-querry-nav " class="search-querry-nav ">
        </form>
      </li>
      <li class="nav-item nav-dropdown-container ">
      <a class="nav-link">Learn<span class="arrow"></span></a>
    </li>
    <li class="nav-item nav-dropdown-container ">
        <a class="nav-link">Ecosistem<span class="arrow"></span></a>
    </li>
    <li class="nav-item nav-dropdown-container ">
        <a class="nav-link">Team<span class="arrow"></span></a>
     </li>
    <li class="nav-item nav-dropdown-container ">
          <a class="nav-link">Support Vue<span class="arrow"></span></a>
    </li>
    <li class="nav-item nav-dropdown-container ">
        <a class="nav-link">Translations<span class="arrow"></span></a>
      </li>


    </ul>
  </nav>
</div>
<br>
<br>

