
  
<div class="row center">
  <div class="col-lg-4 col-md-4 ">
    <div class="point">
      <h3>Approchable</h3>
      <p>
          Already know HTML, CSS and JavaScript? Read the guide and start building things in no time!
      </p>
    </div>
  </div>
  <div class="col-lg-4 col-md-4 ">
    <div class="point">
      <h3>Versatile</h3>
      <p>
          An incrementally adoptable ecosystem that scales between a library and a full-featured framework.
      </p>
    </div>
  </div>
  <div class="col-lg-4 col-md-4 ">
    <div class="point">
      <h3>Performant</h3>
      <p>
          20KB min+gzip Runtime
          Blazing Fast Virtual DOM
          Minimal Optimization Efforts
      </p>
    </div>
  </div>
</div>


