/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.min.css';

li{
    list-style: none;
}
#header{
    background-color: #fff;
    height: 40px;
    padding: 10px 60px;
    position: relative;
    z-index: 100;
}
body{
    font-family: "Source Sans Pro", "Helvetica Neue", Arial, sans-serif;
    font-size: 15px;
    -webkit-font-smoothing: antialiased;
}
h1, h2, h3, h4, strong {
    font-weight: 600;
    color: #2c3e50;
}   
.button{
 

    font-weight: 600;
    letter-spacing: 0.1em;
    min-width: 8em;
    text-align: center;
    box-sizing: border-box;
    font-size: 0.9em;
    border-radius: 2em;
    padding: 10px;
    margin-left: 20px;
}
a{
    text-decoration: none;
}