

<div id="hero">
  <div class="inner ">
    <div class="row"> 
      <div class="row"> 
             <div class="left  col-lg-4 col-md-4">
                <img src="https://vuejs.org/images/logo.png" alt="">
             </div>
             <div class="right col-lg-6 col-md-6">
                  <h1>The progressive JavaScript Framework</h1>
                  <div class="row">
                      <a href="#" class="button green" >Why use vue.js</a>
                      <a href="#" class="button grenny" >GET STARTED</a>
                      <a href="#" class="button github " > GIT HUB
                      </a>
                  </div>
             </div>
      </div>
      <div class="spespo col-lg-12 col-md-12">
        <h3>Special Sponsor</h3>
        <br>
        <img src="https://vuejs.org/images/stdlib.png" alt="">
        <br>
        <br>
        <span>
            Function as a Service Platform and Library
        </span>
      </div>

    </div>
  </div>
</div>
<br>
