<div class="row sponsor">
    <div class=" col-lg-8 offset-lg-2">
      <h3>Pattented sponsors</h3>
      <div class="images">

        <a href="https://www.bitsrc.io/?utm_source=vue&utm_medium=vue&utm_campaign=vue&utm_term=vue&utm_content=vue" target="_blank" style="width: 160px;">
          <img src="https://vuejs.org/images/bit-wide.png" style="width: 160px;" alt="">
        </a>
        <a href="http://tooltwist.com/" target="_blank" style="width: 160px;">
        <img src="https://vuejs.org/images/tooltwist.png" style="width: 160px;" alt="tooltwist">
      </a>
      <a href="https://vueschool.io/?utm_source=Vuejs.org&utm_medium=Banner&utm_campaign=Sponsored%20Banner&utm_content=V1" target="_blank" style="width: 160px;">
        <img src="https://vuejs.org/images/vueschool.png" style="width: 160px;" alt="vue school">
      </a>
      <br>
      <a href="https://vehikl.com/" target="_blank" style="width: 160px;">
        <img src="https://vuejs.org/images/vehikl.png" style="width: 160px;" alt="vehikl">
      </a>
      <a href="https://www.nativescript.org/vue?utm_source=vue-js-org&utm_medium=website&utm_campaign=nativescript-awareness" target="_blank" style="width: 160px;">
        <img src="https://vuejs.org/images/nativescript.png" style="width: 160px;" alt="nativescript">
      </a>
      <br>
      <br>
      <a href="https://www.vuemastery.com/" target="_blank" style="width: 120px;">
        <img src="https://vuejs.org/images/vuemastery.png" style="width: 120px;" alt="vue mastery">
      </a>
      <a href="https://laravel.com" target="_blank" style="width: 120px;">
        <img src="https://vuejs.org/images/laravel.png" style="width: 120px;" alt="laravel">
      </a>
      <a href="https://htmlburger.com" target="_blank" style="width: 120px;">
        <img src="https://vuejs.org/images/htmlburger.png" style="width: 120px;" alt="html burger">
      </a>
      <a href="https://chaitin.cn/en/" target="_blank" style="width: 120px;">
        <img src="https://vuejs.org/images/chaitin.png" style="width: 120px;" alt="chaitin">
      </a>
      <br>
      <a href="https://www.frontenddeveloperlove.com/" target="_blank" style="width: 120px;">
        <img src="https://vuejs.org/images/frontend-love.png" style="width: 120px;" alt="frontend love">
      </a>
      <a href="https://onsen.io/vue/" target="_blank" style="width: 120px;">
        <img src="https://vuejs.org/images/onsen-ui.png" style="width: 120px;" alt="onsen ui">
      </a>
      <a href="https://vuetifyjs.com" target="_blank" style="width: 120px;">
        <img src="https://vuejs.org/images/vuetify.png" style="width: 120px;" alt="vuetify">
      </a>
      <a href="https://neds.com.au/" target="_blank" style="width: 120px;">
        <img src="https://vuejs.org/images/neds.png" style="width: 120px;" alt="neds">
      </a>
      <br>  
      <a href="https://hackr.io/tutorials/learn-vue-js" target="_blank" style="width: 120px;">
        <img src="https://vuejs.org/images/hackr-io.png" style="width: 120px;" alt="hacker io">
      </a>
      <a href="https://icons8.com/" target="_blank" style="width: 120px;">
        <img src="https://vuejs.org/images/icons8.png" style="width: 120px;" alt="icons 8">
      </a>
      <a href="https://vuejobs.com/?ref=vuejs" target="_blank" style="width: 120px;">
        <img src="https://vuejs.org/images/vuejobs.png" style="width: 120px;" alt="vue jobs">
      </a>
      <a href="https://codepilot.ai" target="_blank" style="width: 120px;">
        <img src="https://vuejs.org/images/codepilot.png" style="width: 120px;" alt="code pilot">
      </a>
      <br>
      <a href="https://teamextension.io/" target="_blank" style="width: 120px;">
        <img src="https://vuejs.org/images/teamextension.png" style="width: 120px;" alt="team extension">
      </a>
      <a href="http://aaha.co/" target="_blank" style="width: 120px;">
        <img src="https://vuejs.org/images/aaha.png" style="width: 120px;" alt="aaha">
      </a>
      <a href="https://www.valuecoders.com" target="_blank" style="width: 120px;">
        <img src="https://vuejs.org/images/valuecoders.png" style="width: 120px;" alt="value coders dot org">
      </a>
      <a href="https://www.nsoft.com/careers/" target="_blank" style="width: 120px;">
        <img src="https://vuejs.org/images/nsoft.png" style="width: 120px;" alt="n soft">
      </a>
      <br>

      <a href="https://coreui.io/?utm_source=vuejs&utm_medium=logo&utm_campaign=homepage" target="_blank" style="width: 120px;">
        <img src="https://vuejs.org/images/coreui.png" style="width: 120px;" alt="core ui">
      </a>
      <a href="https://piio.co/vuejs?ref=vuejs" target="_blank" style="width: 120px;">
        <img src="https://vuejs.org/images/piio.png" style="width: 120px;" alt="piio">
      </a>
      <a href="https://tidelift.com/subscription/npm/vue" target="_blank" style="width: 120px;">
        <img src="https://vuejs.org/images/tidelift.png" style="width: 120px;" alt="tidelift">
      </a>
    </div>
      <br>
      <br>
      <a class="button white" href="/support-vuejs/">Become a Sponsor!</a>
      <br>
      <br>
      <br>
      <h3>OpenCollective Sponsors</h3>
      <br>
      <h4>Platinum</h4>
      <br>
      <a class="button white small" href="/support-vuejs/">Become a Sponsor!</a>
      <br>
      <h4>Gold</h4>
      <br>
      <a class="button white small" href="/support-vuejs/">Become a Sponsor!</a>
      <br>
    </div>
  </div>